*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

:root{
    --prime-font-size: 3rem;
    --prime-color-boxes: #DEDBFF;
    --prime-color-background: #DAD4E8;
    --prime-color-titles: #BDA4A4;
    --prime-color-secondary: #E8E7D3;
}

body{
    font-size: 2rem;
    background-color: var(--prime-color-background);
}

header{
    width: 100%;
    position: fixed;
    background-color: var(--prime-color-secondary);
}

.menu{
    font-size: var(--prime-font-size);
}

.divHabilidades{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
.divContacto{
    display: flex;
    line-height: 6rem;
}

ul{
    list-style-type: none;
    display: flex;
}

li{
    text-align: center;
    width: 100%;
}

li a{
    display: inline-block;
    padding: 10px;
    background-color: var(--prime-color-boxes);
    border: 1rem solid var(--prime-color-secondary);
    width: 25rem;
    height: 4rem;
    text-decoration: none;
    color: var(--prime-color-titles);
}

img{
    border: 1.5rem solid black;
    border-radius: 2rem;
    margin: 2rem;
    padding: 10px;
    max-width: 70%;
}

figure{
    text-align: center;
}

h1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--prime-color-titles);
}

h4{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--prime-color-secondary);
}

input{
    width: 100%;
    height: 3rem;
}

button{
    margin-top: 2rem;
    width: 12rem;
    height: 6rem;
    font-size: 3rem;
}

main{
    padding: 10px;
}

.sections_1{
    margin-bottom: 4rem;
    margin-top: 10rem;
}
p{
    font-size: 2rem;
    line-height: normal;
    letter-spacing: 2px;

}

@media (max-width: 880px) {
    li a{
        width: 18rem;
        font-size: 2.5rem;
    }   
}

@media (max-width: 675px) {
    li a{
        width: 14rem;
        font-size: 2rem;
    }   
}

@media (max-width: 560px) {
    li a{
        width: 10rem;
        font-size: 2rem;
    }   
}

@media (max-width: 420px) {
    li a{
        width: 8rem;
        font-size: 1.7rem;
    }   
}