*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

:root{
    --prime-font-size: 2rem;
    --prime-color-boxes: #D5B9B7;
    --prime-color-background: #594E4E;
    --prime-color-titles: #BDA4A4;
    --prime-color-secondary: #DAD3D3;
}

body{
    margin-top: 4rem;
    font-size: 2rem;
    background-color: var(--prime-color-background);
}

header{
    width: 100%;
    position: fixed;
    background-color: rgb(235, 200, 148);
}

.menu{
    font-size: 3rem;
}

ul{
    list-style-type: none;
    display: flex;
}

li{
    text-align: center;
    width: 100%;
}

li a{
    display: inline-block;
    padding: 10px;
    background-color: var(--prime-color-boxes);
    border: 1rem solid var(--prime-color-secondary);
    width: 25rem;
    height: 4rem;
    text-decoration: none;
    color: white;
}

img{
    display: flex;
    flex-direction: column;
    border: 2rem solid black;
    float: left;
    border-radius: 2rem;
    margin: 2rem;
    padding: 10px;
}

h1{
    font-size: var(--prime-font-size);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--prime-color-titles);
}
main{
    padding: 10px;
}
.sections_1{
    margin-bottom: 4rem;
    margin-top: 4rem;
}
p{
    line-height: 3rem;
}

@media (max-width: 880px) {
    li a{
        width: 18rem;
        font-size: 2.5rem;
    }   
}

@media (max-width: 675px) {
    li a{
        width: 14rem;
        font-size: 2rem;
    }   
}

@media (max-width: 560px) {
    li a{
        width: 10rem;
        font-size: 2rem;
    }   
}

@media (max-width: 420px) {
    li a{
        width: 8rem;
        font-size: 1.7rem;
    }   
}